/* Estilos generales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'sans-serif';
    background: #e2e7ef;
}

.container nav{
    position: fixed;
    width: 225px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
}

.container aside{
    padding: 20px;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
}

.container .main{
    margin-left: 225px;
    margin-right: 300px;
}

/* Estilos para el menu lateral */
.container nav .menu-header{
    text-align: center;
    margin: 40px 10px;
    color: #5860AF;
    font-weight: bold;
}

.container nav ul{
    list-style: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.container nav ul li{
     border-radius: 25px;
     margin: 5px;
}

.container nav ul li a{
     text-decoration: none;
     display: block;
     padding: 15px 0px 15px 35px;
     font-weight: lighter;
     color: #000;
}

.container nav ul li a i{
     color: #5860AF;
     margin-right: 10px;
}

.container nav ul .active{
     font-weight: bold;
     background: rgba(88, 96, 175, .5);
}
.container nav ul .active i{
     color: #000;
}

.container nav ul li:hover{
     background: rgba(88, 96, 175, .25);
}

.container nav span{
     font-size: 14px;
     color: #AAA2A7;
     margin: 20px 35px;
     font-weight: bold;
}

/* Estilos principales */
.container .main{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: repeat(6, auto);
     grid-template-areas: 	
     "arrows            upload-file"
     "folders-tittle    folders-tittle"
     "folders           folders"
     "new-files-tittle  new-files-tittle"
     "new-files         new-files"; 
}

.container .main .arrows{
    grid-area: arrows;
    display: flex;
    align-items: center;
    margin: 30px 40px;
}
.container .main .arrows i{
    margin-right: 20px;
    color: #B6BCC6;
    font-size: 20px;
}

.container .main .upload-file{
     grid-area: upload-file;
     margin: auto 20px;
     text-align: right;
}

.container .main .upload-file input{
     display: none;
}
.container .main .upload-file label{
     display: inline-block;
     text-align: center;
     padding: 10px;
     background: #5860AF;
     color: #fff;
     width: 200px;
     border-radius: 25px;
     font-size: 14px;
     cursor: pointer;
}

.container .main .folders-tittle{
     grid-area: folders-tittle;
     color: #000;
     font-size: 16px;
     margin-left: 40px;
}

/* Estilos para carpetas */
.container .main .folders{
     grid-area: folders;
     margin: 0px 25px 20px 25px;
}
.container .main .folders .folder{
    display: inline-block;
    margin: 10px 15px;
    width: 225px;
}

.container .main .folders .folder .folder-header{
     background: #fff;
     width: 100px;
     height: 18px;
     border-radius: 8px 8px 0px 0px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
}

.container .main .folders .folder .folder-body{
     background: #fff;
     
     height: 160px;
     border-radius: 0px 8px 8px 8px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 40px 1fr 40px;
     grid-template-areas: "shared" "people" "folder-name";
}

.container .main .folders .folder .folder-body .shared{
    grid-area: shared;
    color: #AAA2A7;
    font-weight: bold;
    margin: 10px 20px;
    font-size: 14px;
}

.container .main .folders .folder .folder-body .people{
    grid-area: people;
    padding: 0px 20px;
}

.container .main .folders .folder .folder-body .people img{
     display: inline-block;
     width: 30px;
     height: 30px;
     border: 1px solid #AAA2A7;
     border-radius: 25px;
}

.container .main .folders .folder .folder-body .folder-name{
     grid-area: folder-name;
     text-decoration: none;
     color: #000;
     margin: 10px 20px;
}

.container .main .folders .active .folder-header {
    background: #5860AF;
    box-shadow: 2px 2px 10px rgba(88,96,175,.15)
}

.container .main .folders .active .folder-body {
    background: #5860AF;
    box-shadow: 2px 2px 10px rgba(88,96,175, 1)
}

.container .main .folders .active .folder-body .folder-name{
    color: #FFF;
}

/* Archivos nuevos */
.container .main .new-files-tittle{
    grid-area: new-files-tittle;
    color: #000;
    font-size: 16px;
    margin-left: 40px;
}

.container .new-files{
    grid-area: new-files;
    margin: 10px 40px
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table .start{
    border-radius: 15px 0px 0px 15px;
    color: #5860AF;
}

.table .end{
    border-radius:  0px 15px 15px 0px;
    color: #AAA2A7;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.table thead tr th{
    font-weight: lighter;
}

.table tbody tr td {    
    padding: 15px;
}

.table tbody tr:hover > td{
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* Estilos para el aside */
.container aside .info{
     text-align: center;
     margin: 30px auto;
}

.container aside .widgets{
     margin-bottom: 20px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: repeat(2, auto);
     grid-gap: 10px;
     grid-template-areas:	
                            "avilable-space    avilable-space"
                            "downloads         shared"
}

.container aside .widget{
    padding: 10px;
    background: #e2e7ef;
    border-radius: 10px;
}
.container aside .widget .header-widget{
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.container aside .widget .footer-widget{
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
}

.container aside .circle{
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 3px solid #5860AF;
    border-left: 3px solid #AAA2A7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container aside .downloads{
    grid-area: downloads;
}

.container aside .shared{
    grid-area: shared;
}

.container aside .avilable-space{
    grid-area: avilable-space;
}

.more-space{
    width: 100%;
    background: #5860AF;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 1090px) {
    .container .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 	
        "arrows            upload-file"
        "folders-tittle    folders-tittle"
        "folders           folders"
        "new-files-tittle  new-files-tittle"
        "new-files         new-files"
        "aside             aside"
        ; 
    }
    
    .container aside{
        grid-area: aside;
        margin: 40px 40px 40px 260px;
        position: static;
        width: auto;
        border-radius: 20px;
    }

     .container .main{
         margin-right: 0px;
     }
}

@media only screen and (max-width: 786px) {
     .container .main .folders .folder{
         display: block;    
         margin: 10px auto;
     }
}